h1 {
background-color: red ;
padding: 40px;
width: 1000px ;
margin:unset;
border: 1000px;
}

.rede-social{
    width: 30px;
}

#primeira-imagem {
    width: 200px;
}

#segunda-imagem {
    width: 150px;
}

#terceira-imagem{
    width: 150px;
}

#quarta-imagem {
    width: 200px;
}

#quinta-imagem {
    width: 90px;
}

.titulo{
    background-color:gray;
}

.funcionarios{
    background-color: burlywood;
}