*{

}

body{
    background-image: linear-gradient( to right, red, rgb(156, 30, 30), rgb(78, 19, 19), rgb(20, 8, 8))
}

.cabecalho{
    
}

#titulo{
    position: relative;
    bottom: 20px;
    right:8px;
}

#paragrafo{
    text-align: center;
}

#paragrafo1{
    text-align: center;
}

#portfolio{
    position: relative;
    bottom:40px;
    left:47px;
}

#inicio{
    position: relative;
    bottom: 40px;
    right: 60px;
}

#contato{
    position: relative;
    bottom: 40px;
    left: 10px;
}

.formulario{
    position: relative;
    bottom: 20px;
    left:50px;
    text-align: center;
}

.imagens{
    width: 20px;
}


